@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');
img{
    display: inline-block;
    width: 20%;
    height: 300px;
    margin-left: 160px;
    border: solid;
}


h1 {
    text-align: center;
    background-color: skyblue;
}

#buttom {
    margin-left: 750px;
    background-color: powderblue;
    transition: background-color .9s;
    width: 200px;
    height: 50px;
}

#unList {
    text-align: center;
    font-size: large;
    background-color: skyblue;
}

#buttom:hover {
    background-color: gold;
  }

  body{
      background-image: url(https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?size=626&ext=jpg);
      background-repeat: repeat-y;
  }

  .glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}


.glowbuttom {
    font-size: 35px;
    color: rgb(0, 102, 255);
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0026ff, 0 0 40px #2f00ff, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #00c3ff, 0 0 40px #001aff, 0 0 50px #cc00ff, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}